.flex{
	display:flex;
	border:#eedddd;
	flex-direction: right;
	vertical-align:auto;
	padding:5%;
	margin:3%;
	border-radius:5%;
}
table, tr ,td, th{
	border: solid 5px blue;
}
h2{
	display:solid black;
	background-color:#ddd;
}
h3{
	display:solid black;
	background-color:#ddd;
}